$header_h : 60px;
$primary_color: orange;

*{
	margin: 0;
	padding: 0;

}

.body-div{
	width: 100%;
	height: 100%;
}

body {
	font: 100% Helvetica, sans-serif;
	color: #555;
}

.top-bar{
	background-color: $primary_color;
	height: auto;
	margin: 0;
	padding: 0;
	width: 100%;
}

.main{
	position: absolute;
	top: $header_h;
	left: 0;
	width: 100%;
}

.nav-link{
	padding: 3px;
	margin: 0 10;
	min-width: 100px;
	flex: 1 1 auto;
	background: calc($primary_color - #555);
	text-align: center;

}

.nav-wrapper{
	display: flex;
	width: 100%;
	flex-flow: row;
}
 